body {
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
    color: #333;
}

a {
    color: rgb(17, 85, 204);
}

hr {
    height: 1px;
    border: 0;
    background-color: #ddd;
    clear: both;
}

.movie-list::-webkit-scrollbar {
    width: 13px;
    background-color: #f8f8f8;
    border-left: 1px solid #dde;
}
.movie-list::-webkit-scrollbar-thumb {
    background-color: #bbb;
}

.container .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
}
.container .header:after {
    content: '';
    display: block;
    clear: both;
}
.container .header h1 {
    line-height: 50px;
    margin: 0;
    padding: 0;
}
.container .header > img {
    max-height: 50px;
    float: left;
}

.summary {
    margin-top: 10px;
    background-color: rgb(235, 239, 249);
    border-top: 1px solid rgb(156, 194, 239);
    border-bottom: 1px solid rgb(156, 194, 239);
    padding: 3px 10px;
    clear: both;
    height: 20px;
    line-height: 20px;
}

.last-updated {
    font-weight: bold;
}

.movie-list {
    margin: 88px 0 0 0;
    padding: 20px 10px;
    list-style: none;
    height: 360px;
    overflow-y: scroll;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #e5e5e5;
}
.movie-list:after {
    content: '';
    display: block;
    clear: both;
}

.movie {
    float: left;
    width: 290px;
    border: 1px solid #d8d8d8;
    margin: 0 0 13px 13px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 3px;
    color: #555;
}
.movie hr {
    display: none;
}
.movie .title {
    margin: 0 0 3px 0;
    padding: 5px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 14px;
    font-size: 11px;
    border-bottom: 1px solid #eee;
    white-space: nowrap;
    background-color: #f8f8f8;
    border-radius: 3px 3px 0 0;
}
.movie .poster {
    float: left;
    width: 100px;
    height: 150px;
    background: url(no-image.png) no-repeat center center;
}
.movie .poster img {
    max-width: 100px;
    max-height: 150px;
    margin-left: 3px;
}
.movie .info {
    height: 150px;
    margin: 0 0 0 105px;
    font-size: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
    padding: 1px 5px;
}
.movie .info:after {
    content: '';
    display: block;
    clear: both;
}
.movie .info p {
    margin: 0;
    padding: 0;
}
.movie .info span {
    font-weight: bold;
}
.movie .info .plot {
    margin: 3px 0;
    padding-bottom: 3px;
    display: block;
    font-style: italic;
    font-weight: normal!important;
    border-bottom: 1px solid #eee;
}
.movie .links a {
    color: #888;
    font-size: 9px;
    font-weight: normal;
}
.movie a {
    color: #555;
    text-decoration: none;
}
.movie a:hover {
    text-decoration: underline;
}
.movie ul {
    padding: 5px 20px 5px 20px!important;
    margin-left: 10px!important;
}

.movie .info::-webkit-scrollbar {
    width: 8px;
}
.movie .info::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.35);
}

#reload, #close-window {
    float: right;
    margin-left: 5px;
}

.loader-message {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
.loader-image {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.copyright {
    margin-top: 30px;
    text-align: center;
    color: #888;
    font-size: 11px;
}
.copyright .other-links {
    margin-top: 5px;
}